@forward "globals";
@import "./globals/color";
@import "./globals/mixin";

body {
  background-color: $oxford-blue;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;

  // Info box
  .info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 450px;

    &_img {
      display: flex;
      position: relative;
      top: 90px;
      left: -200px;
      transform: rotate(-60deg);
    }
    &_title {
      display: flex;
      flex-direction: column;
      margin-top: -190px;
      padding: 10px;
      margin-left: 20px;
      h1 {
        font-size: clamp(2rem, 2rem + 5vw, 5rem);
        letter-spacing: 0.3rem;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
          0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff,
          0 0 102px #5271ff, 0 0 111px #5271ff;

        animation: glow 0.2s ease-in-out infinite alternate;
      }

      .social_links {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        cursor: pointer;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 30px;
          padding: 10px;
        }
        i {
          color: white;
          font-size: 1.5rem;
        }
        a {
          color: white;
          text-decoration: none;
          margin-left: 15px;
          &:hover {
            color: $bright-yellow;
          }
        }
      }
    }
  }

  // Main display area
  .main_screen {
    flex-grow: 5;
    padding: 20px;
    margin-right: 20px;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;

    // Intro box
    .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -70px;

      &_screen {
        display: flex;
        flex-direction: column;
        padding: 80px 50px;

        h1 {
          font-size: 5rem;
          color: $chinese-green;
          text-align: center;
        }
        p {
          font-size: 1.2rem;
          margin-top: -50px;
          text-align: center;
        }
        h4 {
          text-align: center;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: space-around;
          li {
            list-style: none;
            font-size: 1rem;
          }
        }
      }

      &_btn .btn {
        @include btn(30px);
      }
      &.active {
        display: none;
      }
    }

    // Game box
    .game {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      &_score_board {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .score {
          font-size: 1.5rem;
          padding-inline: 10px;
        }
        .uil-trophy {
          font-size: 1.5rem;
        }

        .restart_btn {
          @include btn(10px);
        }
      }

      &_area {
        height: 500px;
        width: 800px;
        display: grid;
        grid-template-columns: repeat(25, 1fr);
        grid-template-rows: repeat(25, 1fr);
        background-color: $chinese-green;
        box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px,
          rgba(255, 255, 255, 0.05) 0px 5px 10px;
        border-radius: 7px;

        & div {
          height: 20px;
          width: 32px;
        }
      }
    }
  }
}

// Animations
@keyframes glow {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #5271ff,
      0 0 80px #5271ff, 0 0 90px #5271ff, 0 0 100px #5271ff, 0 0 110px #5271ff;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #5271ff,
      0 0 73px #5271ff, 0 0 80px #5271ff, 0 0 94px #5271ff, 0 0 90px #5271ff;
  }
}
